In [1]:
import pandas as pd
from collections import defaultdict
from tqdm import tqdm
from data import load,load_for_correction
from ChatGPT import OpenAI_Tweet_Analyzer,predict_dataset,verify_dataset

%load_ext autoreload
%autoreload 2

In [2]:
DATA_PATH = 'results/0_1999_In_Context_Learning.xlsx - Sheet1.csv'
dataset,correction = load_for_correction(DATA_PATH,start=0,end=20)

In [3]:
correction.head()

  Travel_mode_verification Satisfaction_verification
0                     True                      True
1                     True                      True
2                     True                      True
3                     True                      True
4                     True                      True

In [4]:
dataset.head()

,tweet,Travel Mode,Satisfaction,Reason
0,yeah it always be some old caribbean dude head...,train,dissatisfied,uncomfortable interaction with a fellow passenger
1,i was out of ny for too long taking the train ...,train,dissatisfied,nauseous
2,i am not in the mood to be stared at because i...,train,dissatisfied,being judged and stared at
3,imagine if he knew how sent you on the subway ...,subway,neutral,NaN
4,remember when you could not get cell service i...,subway,dissatisfied,could not get cell service

In [5]:
model = OpenAI_Tweet_Analyzer(model_name="gpt-3.5-turbo-1106",max_tokens = 100,temperature=0.7,prompt_technique="self_verification")

In [26]:
output = verify_dataset(model,dataset)

  0%|          | 0/20 [00:00<?, ?it/s]

100%|██████████| 20/20 [00:13<00:00,  1.47it/s]

In [40]:
def correcter_rate(pred,groundtruth):
    gt = groundtruth[["Travel_mode_verification","Satisfaction_verification"]]
    pred = pred[["Travel_mode_verification","Satisfaction_verification"]]

    correct_pred = sum(pred["Travel_mode_verification"]==gt["Travel_mode_verification"]) + sum(pred["Satisfaction_verification"]==gt["Satisfaction_verification"])
    total = len(gt) * 2

    return correct_pred/total

In [41]:
print(correcter_rate(output,correction))

0.85

In [39]:
correction== output

ValueError: Can only compare identically-labeled (both index and columns) DataFrame objects

In [29]:
out

    Travel_mode_verification  Satisfaction_verification  Reason_verification
0                       True                      False                 True
1                       True                       True                 True
2                       True                       True                 True
3                       True                      False                False
4                       True                       True                 True
5                       True                       True                 True
6                       True                       True                 True
7                       True                       True                 True
8                      False                       True                 True
9                      False                       True                 True
10                     False                       True                 True
11                      True                       True                False
12                      True                      False                 True
13                      True                      False                 True
14                      True                      False                 True
15                      True                      False                False
16                      True                       True                 True
17                      True                       True                 True
18                     False                       True                 True
19                      True                       True                 True

In [10]:
import json

string = str({    "Travel_mode_verification" : True,    "Satisfaction_verification" : True,    "Reason_verification": True,})

at = json.loads(string)

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [12]:
output_df

    Travel_mode_verification  Satisfaction_verification  Reason_verification
0                       True                       True                 True
1                       True                       True                 True
2                       True                       True                 True
3                       True                       True                False
4                       True                       True                 True
5                       True                       True                 True
6                       True                       True                 True
7                      False                       True                 True
8                      False                       True                 True
9                      False                       True                 True
10                     False                       True                 True
11                      True                       True                False
12                      True                      False                 True
13                      True                       True                 True
14                      True                      False                 True
15                      True                      False                False
16                      True                       True                 True
17                      True                       True                 True
18                     False                       True                 True
19                      True                       True                 True

In [13]:
correction

   Travel Mode Correction Groundtruth Satisfaction Correction Groundtruth
0                                True                                True
1                                True                                True
2                                True                                True
3                                True                                True
4                                True                                True
5                                True                                True
6                               False                                True
7                                True                                True
8                               False                                True
9                               False                                True
10                               True                                True
11                               True                                True
12                               True                               False
13                               True                                True
14                               True                                True
15                               True                               False
16                               True                                True
17                               True                               False
18                              False                                True
19                                NaN                                True